# Slack Configuration
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=

# Google & Gemini Configuration
GEMINI_API_KEY=
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Server Configuration
PORT=3000